<h1>Baking Pan Conversion Tool</h1>
<h3>A simple tool for adjusting recipes to work with different types and sizes of pans.</h3>
<p style="font-family: Arial, Lucida Sans Unicode, Verdana, sans-serif">The recipe calls for the following pans:<br /><p>
<p>I want to bake with the following pans:<br /><p>
<p>The ingredient list of the recipe is:<br /><p>
